<%if @opere.empty? %>
  <h1 class="titolo">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    Non hai ancora nessun preferito! </br>
    Cerca tra le opere quelle che più ti piacciono!
  </h1>
  <div class="titolo">
    <div class="button">
      <%= link_to "Cerca", new_searches_path %>
    </div>
  </div>

<%else %>
  <div id="main">
    <%= render 'operas/index', {favorites: @opere, opere: @opere}%>
  </div>
<%end %>
