<h1>Diventa artista!</h1>
<%= form_with(model: @artistum, local: true) do |form| %>
  <% if @artistum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artistum.errors.count, "error") %> prohibited this artistum from being saved:</h2>

      <ul>
        <% @artistum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Diventa artista'%>
  </div>
<% end %>

