
<%if @operas.empty? %>
  <div id="banner">
    <h2>Al momento non ci sono opere in questo portfolio!</h2>
    <div><%=link_to 'aggiungi nuova opera', new_opera_path %></div>
  </div>
<%else %>
  <div id="main">
    <%= render 'operas/index', {opere: @operas, favorites: @preferiti}%>
    <article>
      <%if current_user.id == @user.id %>
        <%=link_to 'aggiungi nuova opera', new_opera_path, class: "button"%>
      <%end %>
    </article>
  </div>
<%end %>
