
<%if @acquisti == nil %>
  <div id="banner">
    <h2>Nessuna opera rispetta i tuoi parametri di ricerca!</h2>
  </div>
<%else %>
  <div id="main">
    <%@acquisti.each do |acquisto| %>
      <article class="thumb">
        <%=link_to image_tag(acquisto.url.url), (acquisto.url.url),class: 'image' %>
        <h2><%= acquisto.titolo %></h2>
        provaaaa
        <p> <%= acquisto.tecnica %>,<%= acquisto.anno %></p>
      </article>
    <%end %>
  </div>
<%end %>
