
<%if @search == nil %>
  <div id="banner">
    <h2>Nessuna opera rispetta i tuoi parametri di ricerca!</h2>
  </div>
<%else %>
  <div id="main">
    <%= render 'operas/index', {favorites: @preferiti, opere: @search}%>
  </div>
<%end %>
