
<%if @search.empty? %>
  <h2 id="banner">
      Nessuna opera rispetta i tuoi parametri di ricerca!
  </h2>
<%else %>
  <div id="main">
    <%= render 'operas/index', {favorites: @preferiti, opere: @search}%>
  </div>
<%end %>
