<%= form_with(model: compratore, local: true) do |form| %>
  <% if compratore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compratore.errors.count, "error") %> prohibited this compratore from being saved:</h2>

      <ul>
        <% compratore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
